body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


footer{
    background-color: black;
    height: auto;
    width: 100vw;
    padding-top: 30px;
    color: white;
}

.footer-top{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}


.footer-botton{
    width: 100vw;
    padding: 30px 0;
    text-align: left;
}

.wrap-input {
    justify-content: center;
    padding: 0 5px;
    display: flex;
    align-items: center;  
}

.coluna{
    float: left;
    width: 50%;
}

.coluna2{
    float: left;
    width: 25%;
    border-color: white;
    border-style: solid;
    border-width: 3px;

    position: relative;
    margin: auto;
}

.coluna3{
    float: left;
    width: 33.33%;
    border-color: white;
    border-style: solid;
    border-width: 4px;

    position: relative;
    margin: auto;
}

.barra{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: left;
    padding: 10px;
    color: rgb(255, 2550, 255);
    background-color: rgb(0, 0, 0, 0.5);
}